<!doctype html>

<html lang="pl">
<head>
    <meta charset="utf-8">

    <title>Pomiary elektryczne 30-letnie doświadczenie z instalacjami elektrycznymi</title>
    <meta name="description" content="Fachowe pomiary elektryczne na terenie Śląska. Posiadamy najwyższej jakości sprzęt do pomiarów elektrycznych. Skoczów, Bielsko, Wisła, Ustroń, Żywiec.">
    <meta name="author" content="thecodebox.pl">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="out.css">
</head>

<body>
    {% include "partials/nav.html" %}
    {% block content %} {% endblock %}
    {% include "partials/footer.html" %}
<script src="out.js"></script>
</body>
</html>