<!doctype html>

<html lang="pl">
<head>
  <meta charset="utf-8">

  <title>Pomiary elektryczne 30-letnie doświadczenie z instalacjami elektrycznymi</title>
  <meta name="description" content="Fachowe pomiary elektryczne na terenie Śląska. Posiadamy najwyższej jakości sprzęt do pomiarów elektrycznych. Skoczów, Bielsko, Wisła, Ustroń, Żywiec.">
  <meta name="author" content="thecodebox.pl">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle|Raleway:300,300i,400,600,700,900">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
  <link rel="stylesheet" href="out.css">
  <link rel="icon" href="/img/favicon.png">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PCWZKG8');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  {% include "partials/nav.html" %}
  {% block content %} {% endblock %}
  {% include "partials/footer.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script src="out.js"></script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCWZKG8" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>