<!doctype html>

<html lang="pl">
<head>
    <meta charset="utf-8">

    <title>Pomiary elektryczne 30-letnie doświadczenie z instalacjami elektrycznymi</title>
    <meta name="description" content="Fachowe pomiary elektryczne na terenie Śląska. Posiadamy najwyższej jakości sprzęt do pomiarów elektrycznych. Skoczów, Bielsko, Wisła, Ustroń, Żywiec.">
    <meta name="author" content="thecodebox.pl">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="out.css">
</head>

<body>
    {% include "partials/nav.html" %}
    {% block content %} {% endblock %}
    {% include "partials/footer.html" %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-92679641-1', 'auto');
    ga('send', 'pageview');
</script>
<script src="out.js"></script>

</body>
</html>