@import "./variables";

.columns {
  flex-wrap: wrap;
}

.content {
  ul {
    line-height: 36px;
    list-style: none;
    margin: 0;
  }

  li {
    &:before {
      background-color: $primary-light;
      content: "";
      display: inline-block;
      margin: 0 1rem;
      padding: 6px;
    }
  }

  .title {
    &.is-4 {
      font-size: 28px;
      font-weight: 700;
    }
  }
}

.steps {
  .container {
    @include widescreen {
      padding: 0 10rem;
    }
  }
}

.showcase {
  .columns {
    align-items: center;
    font-family: 'News Cycle';
    font-size: 20px;

    @include tablet {
      &:nth-child(odd) {
        flex-direction: row-reverse;

        .column {
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }

  .image {
    @include desktop {
      padding: 2rem;
    }
  }
}

.step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;

  @include mobile {
    flex-direction: row;
  }

  .name {
    align-items: center;
    border-radius: 50%;
    border: 2px solid $white;
    display: flex;
    font-size: 30px;
    height: 180px;
    justify-content: center;
    width: 180px;

    &:hover {
      background-color: $white;
      color: $primary;
      cursor: pointer;
    }
  }

  .description {
    flex: 1;
    font-size: 18px;
    font-weight: 700;
    margin-top: 1rem;
    text-align: center;
  }
}

.swiper-container {
  @include tablet {
    margin: 0 6rem;
  }
}

.swiper-slide {
  blockquote {
    background: none;
    border: none;
    line-height: 1;

    @include mobile {
      padding: 1.25em 0;
    }

    q {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
    }

    footer {
      margin-top: 1rem;
      text-align: right;

      span {
        font-family: 'News Cycle';
        font-size: 18px;
        margin-right: 2rem;

        &:before {
          content: '- ';
        }
      }
    }
  }
}

.swiper-pagination {
  margin-bottom: -20px;

  .swiper-pagination-bullet {
    background: none;
    border: 2px solid $yellow;
    height: 16px;
    opacity: 1;
    width: 16px;
  }

  .swiper-pagination-bullet-active {
    background: $yellow;
  }
}