@import "variables";

.examples {
  font-size: 23px;
}

.links {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 1rem;

  a {
    margin: 0 auto .5rem;
  }

  .icon {
    background-color: $red;
    border-radius: 50%;
    color: $white;
    font-size: 39px;
    height: 4.5rem;
    padding: 11px 16px;
    transition: all $speed $easing;
    width: 4.5rem;

    &:hover {
      transform: scale(1.1);
    }
  }

  .name {
    line-height: 8px;
    vertical-align: bottom;
  }
}
