@import "variables";

.footer {
  background-color: $primary;
  color: $primary-invert;
  flex: 1;
  padding: 3rem 1.5rem;

  .container {
    @include narrow-container;
  }
}

.is-brand {
  color: $yellow;
  font-size: 36px;
  font-weight: 900;
}

.is-contact {
  font-size: 23px;
  margin-top: 1rem;
  & > a {
    color: $white;

    &:hover {
      color: $primary-light;
    }
  }
}

.footer-menu {
  font-size: 21px;
  font-weight: 600;
  margin-top: calc(1rem + 54px);

  a {
    color: $primary-invert;

    &:hover,
    &.is-active {
      color: $primary-light;
    }
  }
}

.mailto {
  color: #ffffff;
}