@import "variables";

.swiper-container {
  @include tablet {
    margin: 0 6rem;
  }
}

.swiper-slide {
  blockquote {
    background: none;
    border: none;
    line-height: 1;

    @include mobile {
      padding: 1.25em 0;
    }

    q {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
    }

    footer {
      margin-top: 1rem;
      text-align: right;

      span {
        font-family: $font-secondary;
        font-size: 18px;
        margin-right: 2rem;

        &:before {
          content: '- ';
        }
      }
    }
  }
}

.swiper-pagination {
  margin-bottom: -20px;

  .swiper-pagination-bullet {
    background: none;
    border: 2px solid $yellow;
    height: 16px;
    opacity: 1;
    width: 16px;
  }

  .swiper-pagination-bullet-active {
    background: $yellow;
  }
}
