@import "font-awesome";

@import "variables";
@import "bulma";

body {
  font-family: 'Raleway';
  font-size: 20px;
}

.hero {
  background-color: $lighter;
  color: $primary;
  font-size: 28px;
}

.nav-toggle span {
  height: 2px;
  width: 21px;

  &:nth-child(1) {
    margin-top: -8px;
  }

  &:nth-child(3) {
    margin-top: 6px;
  }
}

.section {
  .container {
    @include narrow-container;
  }
}

hr.separator {
  background-color: $yellow;
  height: 5px;
}

@import "nav";
@import "content";
@import "examples";
@import "showcase";
@import "steps";
@import "swiper";
@import "footer";
