{% extends "base.html" %}

{% set pageActive='oferta' %}

{% block content %}
<section class="hero is-medium">
  <div class="hero-body has-text-centered">
    <div class="container">
      Specjalizujemy się w wykonywaniu profesjonalnych pomiarów elektrycznych wraz z wymaganymi protokołami na terenie południowej Polski.
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <ul><b>Oferujemy następujące usługi:</b>
        <li>pomiary elektryczne</li>
        <li>przeglądy i prace kontrolno pomiarowe</li>
        <li>pomiary skuteczności ochrony przeciwpożarowej</li>
        <li>pomiary rezystancji izolacji przewodów</li>
        <li>pomiary elektronarzędzi</li>
        <li>pomiary instalacji odgromowych</li>
      </ul>
    </div>
  </div>
</section>

<section class="hero is-primary steps">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        
        {% import "macros/steps.html" as steps %}

        {% set steps_items = [
          { name: 'Wycena', description: 'Telefonicznie<br />lub na miejscu' },
          { name: 'Pomiary', description: '6 godzin dom jednorodzinny<br />30 minut eletronarzędzie' },
          { name: 'Protokół', description: 'opracowanie<br />1 - 10 dni' }
        ] %}

        {% for step in steps_items %}
          {{ steps.step(step.name, step.description) }}
        {% endfor %}

      </div>
    </div>
  </div>
</section>

<section class="section showcase">
  <div class="container">
    <div class="content">
      <h1 class="title is-4">Nasze pomiary wykonujemy na urządzeniach renomowanej marki Sonel wraz z ważnymi certyfikatami oraz uprawnieniami.</h1>
      
      {% import "macros/showcase.html" as showcase %}

      {% set showcase_items = [
        {
          img: 'https://placeholdit.imgix.net/~text?txtsize=56&txt=600%C3%97400&w=600&h=400',
          description: 'CPM-1006 - Cyfrowy miernik cęgowy - umożliwia swobodne pomiary przewodów nawet do 34mm grubości. Jest wykorzystywany do sprawdzania prądu stałego, przemiennego'
        },
        {
          img: 'https://placeholdit.imgix.net/~text?txtsize=56&txt=600%C3%97400&w=600&h=400',
          description: 'PAT-805 - Miernik bezpieczeństwa sprzętu elektrycznego - umożliwia pomiary parametrów decydujących o bezpieczeństwie między innymi takich jak rezystancji przewodów ochronnych czy ciągłości przewodów.'
        },
        {
          img: 'https://placeholdit.imgix.net/~text?txtsize=56&txt=600%C3%97400&w=600&h=400',
          description: 'MPI-525 - Wielofunkcyjny miernik parametrów instalacji elektrycznej - jest to jedyny miernik na rynku który oferuje pomiary izolacji aż do 2500 V.Pozwala również wykonywać pomiary impedancja pętli zwarcia, rezystancji i ciągłości izolacji.'
        },
        {
          img: 'https://placeholdit.imgix.net/~text?txtsize=56&txt=600%C3%97400&w=600&h=400',
          description: 'MIE-500 - Miernik instalacji elektrycznych - urządzenie do wykonywania pomiarów instalacji zabezpieczonych wyłącznikami nadprądowymi oraz różnicowoprądowymi.'
        }
      ] %}

      {% for item in showcase_items %}
        {{ showcase.item(item.img, item.description) }}
      {% endfor %}

    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="content">
        <h2 class="title is-4">Rekomendacje</h2>

        <div class="swiper-container">
          <div class="swiper-wrapper">

          {% import "macros/slides.html" as slides %}

          {% set quotes = [
            {
              quote: 'Jestem zadowolony z wykonanych pomiarów przez tę firmę. Z całą pewnością zamierzam polecić ich usługi znajomym ze względu na profesjonalizm oraz czas realizacji.',
              author: 'Jan Kowalski'
            },
            {
              quote: 'Jestem zadowolony z wykonanych pomiarów przez tę firmę. Z całą pewnością zamierzam polecić ich usługi znajomym ze względu na profesjonalizm oraz czas realizacji.',
              author: 'Jan Kowalski'
            },
            {
              quote: 'Jestem zadowolony z wykonanych pomiarów przez tę firmę. Z całą pewnością zamierzam polecić ich usługi znajomym ze względu na profesjonalizm oraz czas realizacji.',
              author: 'Jan Kowalski'
            }
          ] %}

          {% for quote in quotes %}
            {{ slides.slide(quote.quote, quote.author) }}
          {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}