{% extends "base.html" %}

{% set pageActive = 'poradnik-pomiarow' %}

{% block content %}
<section class="hero is-medium">
  <div class="hero-body has-text-centered">
    <div class="container">
      Specjalizujemy się w wykonywaniu profesjonalnych pomiarów elektrycznych wraz z wymaganymi protokołami na terenie południowej Polski.
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <ul><b>Oferujemy następujące usługi:</b>
        <li>pomiary elektryczne</li>
        <li>przeglądy i prace kontrolno pomiarowe</li>
        <li>pomiary skuteczności ochrony przeciwpożarowej</li>
        <li>pomiary rezystancji izolacji przewodów</li>
        <li>pomiary elektronarzędzi</li>
        <li>pomiary instalacji odgromowych</li>
      </ul>
    </div>
  </div>
</section>

<section class="hero is-primary steps">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column step">
          <div class="name">Wycena</div>
          <small class="description">Telefonicznie<br />lub na miejscu</small>
        </div>
        <div class="column step">
          <div class="name">Pomiary</div>
          <small class="description">6 godzin dom jednorodzinny<br />30 minut elektronarzędzie</small>
        </div>
        <div class="column step">
          <div class="name">Protokół</div>
          <small class="description">opracowanie<br />1 - 10 dni</small>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section showcase">
  <div class="container">
    <div class="content">
      <h1 class="title is-4">Nasze pomiary wykonujemy na urządzeniach renomowanej marki Sonel wraz z ważnymi certyfikatami oraz uprawnieniami.</h1>
      <div class="columns">
        <div class="column">
          <figure class="image">
            <img src="https://placeholdit.imgix.net/~text?txtsize=56&txt=600%C3%97400&w=600&h=400" alt="">
          </figure>
        </div>
        <div class="column">
          <p>CPM-1006 - Cyfrowy miernik cęgowy - umożliwia swobodne pomiary przewodów nawet do 34mm grubości. Jest wykorzystywany do sprawdzania prądu stałego, przemiennego, rozruchowego, temperatury czy też częstotliwości.</p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <figure class="image">
            <img src="https://placeholdit.imgix.net/~text?txtsize=56&txt=600%C3%97400&w=600&h=400" alt="">
          </figure>
        </div>
        <div class="column">
          <p>PAT-805 - Miernik bezpieczeństwa sprzętu elektrycznego - umożliwia pomiary parametrów decydujących o bezpieczeństwie między innymi takich jak rezystancji przewodów ochronnych czy ciągłości przewodów.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="content">
        <h2 class="title is-4">Rekomendacje</h2>

        <div class="swiper-container">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <blockquote>
                <q>Jestem zadowolony z wykonanych pomiarów przez tę firmę. Z całą pewnością zamierzam polecić ich usługi znajomym ze względu na profesjonalizm oraz czas realizacji.</q>
                <footer>
                  <span>Jan Kowalski</span>
                </footer>
              </blockquote>
            </div>

            <div class="swiper-slide">
              <blockquote>
                <q>Jestem zadowolony z wykonanych pomiarów przez tę firmę. Z całą pewnością zamierzam polecić ich usługi znajomym ze względu na profesjonalizm oraz czas realizacji.</q>
                <footer>
                  <span>Jan Kowalski</span>
                </footer>
              </blockquote>
            </div>

            <div class="swiper-slide">
              <blockquote>
                <q>Jestem zadowolony z wykonanych pomiarów przez tę firmę. Z całą pewnością zamierzam polecić ich usługi znajomym ze względu na profesjonalizm oraz czas realizacji.</q>
                <footer>
                  <span>Jan Kowalski</span>
                </footer>
              </blockquote>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}