{% extends "base.html" %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Pomiary elektryczne. Jerzy Cel
            </h1>
            <p class="subtitle">
                Oferujemy Państwu pomiary elektryczne w domach jednorodzinnych, zakładach produkcyjnych oraz pomiary
                elektronarzędzi.
                Mamy 30-letnie doświadczenie z instalacjami eletrycznymi i wierzymy, że solidne i regularne pomiary
                zapewnią Państwu bezpieczeństwo.
            </p>

            <p>Wykonujemy:</p>
            <dl>
                <li>pomiary elektryczne</li>
                <li>przeglądy i prace kontrolno pomiarowe</li>
                <li>pomiary skuteczności ochrony przeciwporażeniowej</li>
                <li>pomiary rezystancji izolacji obwodów</li>
                <li>pomiary elektronarzędzi</li>
                <li>pomiary instalacji odgromowych</li>
                <li>pomiary uziemień rusztowań</li>
                <li>podłączania sprzętów domowych</li>
            </dl>

            <p>Pomiary wykonujemy na terenie całego <strong>Śląska</strong> i nie tylko, dojeżdzamy do <b>Skoczowa, Wisły, Cieszyna, Bielska, Żywca i Ustronia.</b></p>
            <h4 class="title is-4">Zapraszamy do kontaktu. Telefon kontaktowy: <a href="tel:602217539">602 217 539</a></h4>
        </div>
    </div>
</section>
{% endblock %}