{% extends "base.html" %}

{% set pageActive='kontakt' %}

{% block content %}

<section class="hero">
  <div class="hero-body">
    <div class="container contact">
      <div class="columns">
        <div class="column">

          <span class="title is-4"><b>Jerzy Cel</b></span>
          <p>
            602 217 539<br>
            kontak@solidne.pomiary.pl
          </p>
          <p>
            Regon: 868 876 876<br>
            NIP: 6546 65465 654
          </p>

          <form action="https://formspree.io/solidnepomiarypl@gmail.com" method="POST" class="form">

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Tytuł</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input name="_replyto" type="text" class="input">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Email</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input name="_subject" type="email" class="input">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Wiadomość</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea name="message" rows="5" class="textarea"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="spacer"></div>

            <input type="submit" class="button is-medium is-primary" value="Wyślij"/>

          </form>

        </div>

        <div class="column">

          <div class="map">
            <iframe width="100%" height="100%" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJPd7bNE4dFEcRLmMXPpXNTFU&key=AIzaSyBSYquLe0WZa1ObT8WfDg5tQDSAD633x9w" allowfullscreen></iframe>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
