{% extends "base.html" %}

{% set pageActive='o-firmie' %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="content about-us">
      <p>Na rynku jesteśmy od 1992 roku więc aktualnie posiadamy, aż 25 letnie doświadczenie w obchodzeniu się z instalacjami elektrycznymi. Nasza firma specjalizuje się w wykonywaniu pomiarów elektrycznych dla obiektów mieszkalnych, użytkowych, biurowych, przemysłowych.</p>
      <p>
        <ul>Uprawnienia:
          <li>dasdasdasdasdasda</li>
          <li>asdasdasdasdasdasd</li>
          <li>asdsa dsdada dasdadsa</li>
        </ul>
      </p>
      <p>Pomiary zawsze wykonujemy na atestowanym oraz profesjonalnym sprzęcie do tego przeznaczonym.</p>
      <p>
        <ul>Certyfikaty:
          <li>dasdasdasdasdasda</li>
          <li>asdasdasdasdasdasd</li>
          <li>asdsa dsdada dasdadsa</li>
        </ul>
      </p>
    </div>
  </div>
</section>

<hr class="separator">

{% include "partials/showcase.html" %}
{% include "partials/slides.html" %}

{% endblock %}