{% extends "base.html" %}

{% set pageActive='o-firmie' %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="content about-us">
      <p>Na rynku jesteśmy od 1992 roku więc aktualnie posiadamy, aż 25 letnie doświadczenie w obchodzeniu się z instalacjami elektrycznymi. Nasza firma specjalizuje się w wykonywaniu pomiarów elektrycznych dla obiektów mieszkalnych, użytkowych, biurowych, przemysłowych.</p>
      <p>Pomiary wykonujemy na terenie śląska ale istnieje możliwość dojazdu do klienta. Najczęściej pomiary wykonujemy w Skoczowie, Wiśle, Bielsku-Białej.</p>
      <p>Pomiary zawsze wykonujemy na atestowanym oraz profesjonalnym sprzęcie do tego przeznaczonym. Posiadamy niezbędnę uprawnienia oraz cerytikaty które umożliwiają nam w pełni legalne i bezpieczne wykonywanie pomiarów w państwa budynkach. </p>
    </div>
  </div>
</section>

<hr class="separator">

{% include "partials/showcase.html" %}
{% include "partials/slides.html" %}

{% endblock %}