<!doctype html>

<html lang="pl">
<head>
    <meta charset="utf-8">

    <title>Instalacje elektryczne - Jerzy Cel</title>
    <meta name="description" content="Instalacje elektryczne">
    <meta name="author" content="thecodebox.pl">

    <link rel="stylesheet" href="out.css">

</head>

<body>
<div class="container">
    {% include "partials/nav.html" %}
    <div class="notification">
        This container is <strong>centered</strong> on desktop.
    </div>
    {% include "partials/footer.html" %}
</div>
<script src="out.js"></script>
</body>
</html>